.AppBar {
    color: white;
    height: 4em;
    display: flex;
    font-family: 'IM Fell DW Pica';
}

.AppTitle {
    font-size: 2.4em;
    font-weight: bold;
    color: hsl(0, 0%, 34.9%);
}

.AppTitle span {
    color: hsl(0, 50%, 34.9%);
}

.AppTools {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5em;
    padding-bottom: 1em;
}

.AppTools button {
    background-color: tomato;
    color: white;
    font-family: 'IM Fell DW Pica';
    border: none;
    border-radius: 0.75em;
    font-size: 0.8em;
    padding: 0 2em;
}