.BattleTools {
    background-color: hsl(0, 0%, 15%);
    color: white;
    padding: 0.2em 0;
    border-radius: 1em 1em 0 0;
    box-shadow: 1px -10px 15px hsl(0, 0%, 0%, 50%);
    border-bottom: 6px solid hsl(0, 0%, 18%, 100%);
    display: grid;
    grid-template-columns: min-content min-content auto;
}

.BattleTools>button {
    background-color: transparent;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 70%);
    width: 2em;
    cursor: pointer;
    align-self: end;
    line-height: 1em;
}