.AddCombatant {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    align-items: center;
    padding-left: 1em;
    column-gap: 1em;
    width: min-content;
    border-right: 4px solid hsl(0, 0%, 20%);
}

.AddCombatant input {
    background-color: transparent;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Asul';
    color: hsl(0, 100%, 64%);
    height: 1em;
}

.AddCombatant input:focus {
    border: none;
    outline: none;
}

.AddCombatant input::selection {
    background: transparent;
    color: hsl(44, 100%, 80%);
}

.AddCombatant .initiative {
    color: hsl(44, 100%, 50%);
}

.AddCombatant .label {
    font-size: 0.7em;
    color: hsl(0, 0%, 50%);
    text-align: center;
}

.AddCombatant button {
    background-color: transparent;
    width: 100%;
    border: none;
    color: white;
    font-size: 3em;
    margin: -10px;
    cursor: pointer;
}