@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

html,
body,
#root,
.App,
.AppContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

html {
  background-color: hsl(0, 0%, 10%);
}

.App {
  outline: 2px solid green;
  font-size: 16px;
  font-family: Asul;
}

/**/
.AppContent {
  outline: 2px solid blue;
}